{{#if orderList}}
  <div class="top-bar">
    <div class=action-btns>
      <button class="btn btn-primary" {{ action 'authorize' true }}>Authorize</button>
      <button class="btn" {{ action 'capture' true }}>Capture</button>
    </div>
    <div class="filterBar">
        <label for="from-name">Product Name: </label>
        {{ select-list content=productNames value=product_name options=selectOptions }}
        <label for="from-name">Payment Status: </label>
        {{action-select actions=paymentStatus selected=payment_status }}
        <button class="btn btn-primary" {{ action 'filterOrder' true }}>Filter</button>
        <button class="btn" {{ action 'clearFilter' true }}>Clear</button>
    </div>
  </div>

  <ul class='pm-product-list table-list products'>
    <li class="row heading">
      <span class="col select-item" style="min-width: 5%;">
        {{checkbox-item checked=selectAll checkAction="toggleAll"}}
      </span>
      {{#if sortById.sortFlag}}
        <span class="col sortable" style="min-width: 5%; color: #4b71fc;">
          <i {{ action 'sortById' }}>Order</i>
        </span>
        {{else}}
        <span class="col sortable" style="min-width: 5%;">
          <i {{ action 'sortById' }}>Order</i>
        </span>
      {{/if}}

      {{#if sortByDate.sortFlag}}
        <span class="col sortable" style="min-width: 8%; color: #4b71fc;">
          <i {{ action 'sortByDate' }}>Date</i>
        </span>
        {{else}}
        <span class="col sortable" style="min-width: 8%;">
          <i {{ action 'sortByDate' }}>Date</i>
        </span>
      {{/if}}

      {{#if sortByType.sortFlag}}
        <span class="col sortable" style="min-width: 8%; color: #4b71fc;">
          <i {{ action 'sortByType' }}>Type</i>
        </span>
        {{else}}
        <span class="col sortable" style="min-width: 8%;">
          <i {{ action 'sortByType' }}>Type</i>
        </span>
      {{/if}}

      {{#if sortByPaymentStatus.sortFlag}}
        <span class="col sortable" style="min-width: 10%; color: #4b71fc;">
          <i {{ action 'sortByPaymentStatus' }}>Payment Status</i>
        </span>
        {{else}}
        <span class="col sortable" style="min-width: 10%;">
          <i {{ action 'sortByPaymentStatus' }}>Payment Status</i>
        </span>
      {{/if}}

      {{#if sortyByFraudStatus.sortFlag}}
        <span class="col sortable" style="min-width: 10%; color: #4b71fc;">
          <i {{ action 'sortyByFraudStatus' }}>Fraud Status</i>
        </span>
        {{else}}
        <span class="col sortable" style="min-width: 10%;">
          <i {{ action 'sortyByFraudStatus' }}>Fraud Status</i>
        </span>
      {{/if}}

      <span class="col" style="min-width: 10%;">Customer Name</span>
      <span class="col" style="min-width: 20%;">Customer Email</span>
      <span class="col" style="min-width: 10%;">Order Total</span>
      <span class="col" style="min-width: 10%;">Actions</span>
    </li>
    {{#each itemsToShow as |order|}}
      {{pm-fp-fullorders-item order=order selectAction='selectItem' selected=selectedItems}}
    {{/each}}
  </ul>

  {{pm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage clickAction="changePage"}}

{{/if}}

{{#if authorizing}}
  <div class="btn primary-btn">
    <i class="fa fa-spin fa-cog"></i>
    <h3 style="display: inline">Processing...</h3>
  </div>
{{/if}}

{{#if resultList}}
  {{pm-fp-fullorders-result-list orders=responseList backToOrders='freshOrders' method=operation}}
{{/if}}
