{{#if searchTerms}}
  <h3>{{searchTerms}}</h3>
{{/if}}

{{#if searchSection}}
  <div class='panel'>
    <h1>Advanced Search</h1>
    <div class='panel-body'>
      <div class="pm-search">
        <label for="from-name">Single Order: </label>
        <div class="field-group">
            {{input type="text" name="orderID" placeholder="Enter order Id here" value=model.orderID}}
        </div>
        <label for="from-name">Order Range: </label>
        <div class="field-group">
            {{input type="text" name="startID" placeholder="Starting Order Id" value=model.startID}}
            <label for="from-name">to</label>
            {{input type="text" name="endID" placeholder="Ending Order Id" value=model.endID}}
        </div>

        <label>Order Status: </label>
        <div class='field-group'>
          {{select-list
          content=paymentStatus
          value=model.selectedOrderStatus
          options=selectOptions
          }}
        </div>

        {{#if searchInProgress}}
          <button class="btn primary-btn submit-btn loading"><i class="fa fa-spin fa-cog"></i> searching</button>
        {{else if disableSave}}
          <button class="btn submit-btn">Editing</button>
        {{else}}
          {{!-- <button class="btn primary-btn submit-btn" {{action 'momConnector' true }}>MOM TESTING</button> --}}
          <button class="btn primary-btn submit-btn" {{action 'searchOrder' true }}>Search</button>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}

{{#if orders}}
  <div class='panel'>
    <div class="panel-body pm-products">
      <div class="search-wrapper">
        <h1>Search Results</h1>
          {{ pm-fp-order-list
            orders=orders
            ordersForAuthorize="setAuthroizeOrders"
          }}
      </div>
    </div>
  </div>
{{/if}}

{{#if noResults}}
  <h1>No Results Found, please check your search input</h1>
  <button class="btn" {{ action 'newSearch' true }}>Start New Search</button>
{{/if}}

{{#if ordersForAuthorize}}
  <div class='panel'>
    <div class="panel-body pm-products">
      <div class="search-wrapper">
        <h1>Authroization Confirmation</h1>
          {{ pm-authorize-list
            orders=ordersForAuthorize
            productName=productName
            authorizeResponseList="setAuthorizeResponseList"
          }}
      </div>
    </div>
  </div>
{{/if}}

{{#if authorizeResponseList}}
  <div class='panel'>
    <div class="panel-body pm-products">
        <div class="search-wrapper">
          <h1>Authroization Response List</h1>
            {{ pm-authorize-response-list
              orders=authorizeResponseList
              productName=productName
            }}
        </div>
    </div>
  </div>
{{/if}}
