{{#app-wrapper app=app store=applicationCtrl.storeInfo appsMenu=appsMenu customerMenu=customerMenu}}
    <div class="addon-main addon-recurring">
        {{outlet}}
    </div>
    <div class="clearfix"></div>
{{/app-wrapper}}
