<div class="panel">
    <div class="panel-heading">Email Settings</div>
    <div class="pm-panel-body panel-body">
        <ul>
       		<li class="field-left">
				<label>Company: </label>
				{{input type="text" value=settings.company}}
			</li>
            <li class="field-left">
                <label>Outgoing Email: </label>
               {{input type="text" value=settings.outgoing_email}}
            </li>
		</ul>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">SMTP Settings</div>
    <div class="pm-panel-body panel-body">
        <ul>
            <li class="field-left">
                <label>SMTP Hostname: </label>
                {{input type="text" value=settings.hostname}}
            </li>
            <li class="field-left">
                <label>SMTP Username: </label>
                {{input type="text" value=settings.username}}
            </li>
            <li class="field-left">
                <label>SMTP Password:</label>
                {{input type="password" value=settings.password}}
            </li>
            <li class="field-left">
                <label>SMTP Port: </label>
                {{input type="text" value=settings.port}}
            </li>
        </ul>
        <button class="btn btn-primary submit-btn" style="float-left" {{action 'testSMTP' false}}>Test SMTP Settings</button>
     </div>
</div>


<div class="page-action">
    {{#if saveInProgress}}
        <button class="btn btn-primary submit-btn loading"><i class="fa fa-spin fa-cog"></i> Saving</button>
    {{else}}
        {{#link-to 'paymentmanager.appmanagement.emailtemplates.index' class="btn btn-link"}}Cancel{{/link-to}}

        <div class="button-group">
            <button class="btn btn-primary submit-btn" {{action 'saveEmail' true}}>Save</button>
           {{!--  <button class="btn btn-primary submit-btn" {{action 'saveEmail' false}}>Save &amp; Close</button> --}}
        </div>
    {{/if}}
</div>
