<button style='#000' class="btn btn-primary" {{ action 'openAuthorizeSavingPopup' true }}>Save Authorized List</button>
<button style='background-color: #66CD00;' class="btn submit-btn" {{ action 'openEmailFailedPopup' true }}>Email Failed Authorization Orders</button>
<button class="btn primary-btn submit-btn" {{ action 'newSearch' true }}>Start New Search</button>

<li class="row heading">
    {{!-- <span class="col select-item">
    	{{checkbox-item checked=selectAll checkAction="toggleAll"}}
	</span> --}}
	<span class="col" style="min-width: 10%;">Status</span>

	<span class="col" style="min-width: 10%;">Failed Message</span>
	<span class="col" style="min-width: 10%;">Order</span>
	<span class="col" style="min-width: 10%;">Customer Name</span>
    <span class="col" style="min-width: 20%;">Customer Email</span>
    <span class="col" style="min-width: 10%;">Auth Amount</span>
	<span class="clearfix">&nbsp;</span>
</li>

{{#each itemsToShow as |order index|}}
	{{pm-authorize-response-list-item
		index=index
        order=order
        selected=selectedItems
        selectAction="selectItem"
    }} 
{{/each}}

{{pm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage  clickAction="changePage"}}

<div class='authorize-list'>
	{{#if authListPopup}}
		<div class="modal">
		  <!-- Modal content -->
		  <div class="modal-content">
		    <div class="modal-header">
		      <h2>Save Authorization List</h2>
		    </div>
		    <div class="modal-body">
		      <label>List Name: </label>
              {{input type="text" name="endID" placeholder="" value=listName}}
		      <p>Enter a list name above to save this authorization session</p>
		    </div>
		    <div class="modal-footer">
		      <button class="btn primary-btn submit-btn" {{ action 'closeAuthorizeSavingPopup' true }}>Cancel</button>
		      <button class="btn btn-primary submit-btn" {{ action 'saveAuthList' true }}>Save</button>
		    </div>
		  </div>
		</div>
	{{/if}}

	{{#if emailFailedPopup}}
		<div class="modal">
		  <!-- Modal content -->
		  <div class="modal-content">
		    <div class="modal-header">
		      <h2>Failed Authorization Order Email - Choose Template</h2>
		    </div>
		    <div class="modal-body">
		     {{select-list
	          	content=emailTemplates
	          	value=selectedTemplate
	          	options=selectOptions
	          }}
		    </div>
		    <div class="modal-footer">
		      <button class="btn primary-btn submit-btn" {{ action 'closeEmailFailedPopup' true }}>Cancel</button>
		      <button class="btn btn-primary submit-btn" {{ action 'sendEmail' true }}>Send Email</button>
		    </div>
		  </div>
		</div>
	{{/if}}
</div>
