<button class="btn btn-primary submit-btn" {{ action 'authorizeOrders' true }}>Confirm & Authorize Orders</button>
<button class="btn primary-btn submit-btn" {{ action 'newSearch' true }}>Start New Search</button>


<li class="row heading">
    <span class="col select-item" style="min-width: 5%;">
    	{{checkbox-item checked=selectAll checkAction="toggleAll"}}
	</span>
	<span class="col" style="min-width: 10%;">Order</span>
	<span class="col" style="min-width: 10%;">Customer Name</span>
	<span class="col" style="min-width: 10%;">Card Expiry</span>
	<span class="col" style="min-width: 10%;">Card Last 4 Digit</span>
    <span class="col" style="min-width: 10%;">Charge Amount</span>
	<span class="clearfix">&nbsp;</span>
</li>

{{#if authorizing}}
	<div class="step-action">
		<button class="btn disable-btn"><i class="fa fa-spin fa-cog"></i> Please Wait...</button>
	</div>
{{else}}
	{{#each itemsToShow as |order index|}}
		{{ pm-authorize-list-item
			index=index
	        order=order
	        selected=selectedItems
	        selectAction="selectItem"
	    }}        
	{{/each}}
	{{pm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage  clickAction="changePage"}}
{{/if}}

