<li class="row">
    <span class="col select-item" style="min-width: 5%;">
        {{checkbox-item checked=isSelected checkAction="toggleItem"}}
    </span>

    <span class="col" style="min-width: 10%;">
        {{order.id}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.customer_name}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.expiry}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.last4}}
    </span>
    <span class="col" style="min-width: 10%;">
        ${{order.total}}
    </span>

</li>