
<li class="row">
    <span class="col" style="min-width: 10%;">
        {{order.payment_status}}
    </span>
    <span class="col" style="min-width: 20%;">
        {{order.transactionId}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.message}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.order_id}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.customer_name}}
    </span>
    <span class="col" style="min-width: 20%;">
        {{order.billing_email}}
    </span>
    <span class="col" style="min-width: 10%;">
        ${{order.auth_total}}
    </span>
</li>