{{#if showList}}	
	{{#link-to 'paymentmanager.appmanagement.emailtemplates.edit' 0 class="btn primary-btn submit-btn"}}Create Template{{/link-to}}

	<button class="btn primary-btn submit-btn" {{ action 'headerEdit' true }}>Manage Header & Footer </button>
	<li class="row heading">
	<span class="col" style="min-width: 30%;">Name</span>
	<span class="col" style="min-width: 40%;">Subject</span>
	<span class="col" style="min-width: 30%;">Actions</span>
	<span class="clearfix">&nbsp;</span>
	</li>

	{{#each itemsToShow as |template index|}}
		{{ 
			pm-email-template-item
			index=index
	        template=template
	    }}        
	{{/each}}

	{{pm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage clickAction="changePage"}}
{{/if}}

{{#if headerEdit}}
	<div class="panel-body">
        <h3>Header Content</h3>
        <div class="field-group">
            {{wysiwyg-editor
                input=parts.header
                enterSourceModeAction="enterSourceMode"
                exitSourceModeAction="exitSourceMode"
            }}
        </div>
    </div>
    <div class="panel-body">
        <h3>Footer Content</h3>
        <div class="field-group">
            {{wysiwyg-editor
                input=parts.footer
                enterSourceModeAction="enterSourceMode"
                exitSourceModeAction="exitSourceMode"
            }}
        </div>
    </div>
  	<div class="page-action">
	    {{#if saveInProgress}}
	        <button class="btn btn-primary submit-btn loading"><i class="fa fa-spin fa-cog"></i> Saving</button>
	    {{else}}
	        <button class="btn btn-link" {{action 'listShow' true}}>Cancel</button>

	        <div class="button-group">
	            <button class="btn btn-primary submit-btn" {{action 'saveEmailParts' true}}>Save</button>
	           {{!--  <button class="btn btn-primary submit-btn" {{action 'saveEmail' false}}>Save &amp; Close</button> --}}
	        </div>
	    {{/if}}
    </div>
{{/if}}