<span class="tpl-section">Customer Information</span>
<dl>
    <dt>Customer Name</dt>
    <dd>%%CustomerName%%</dd>

    <dt>Email</dt>
    <dd>%%CustomerEmail%%</dd>
</dl>

<span class="tpl-section">Order Details</span>
<dl>
    <dt>Order ID</dt>
    <dd>%%OrderId%%</dd>

    <dt>Product SKU</dt>
    <dd>%%ProductSKU%%</dd>

    <dt>Product Name</dt>
    <dd>%%ProductName%%</dd>
</dl>

<span class="tpl-section">Payment Details</span>
<dl>
    <dt>Payment Amount</dt>
    <dd>%%PaymentTotal%%</dd>

    <dt>Last 4 Digits of Credit Card Number</dt>
    <dd>%%PaymentCardNumLastFour%%</dd>

    <dt>Error Message</dt>
    <dd>%%PaymentErrorMessage%%</dd>
</dl>

