<li class="row">
    <span class="col select-item" style="min-width: 5%;">
        {{checkbox-item checked=isSelected checkAction="toggleItem"}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.order_id}}
    </span>
    <span class="col" style="min-width: 20%;">
        {{order.status}}
    </span>
    <span class="col" style="min-width: 20%;">
        {{order.customer_name}}
    </span>
    <span class="col" style="min-width: 25%;">
        {{order.billing_email}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.cardOnFile}}
    </span>
</li>
