<!-- <span class="col select-item" style="min-width: 5%;">
    {{checkbox-item checked=isSelected checkAction="toggleItem"}}
</span> -->
<span class="col" style="min-width: 15%;">{{order.payment_status}}</span>
<span class="col" style="min-width: 15%;">{{order.payment_msg}}</span>
{{#if authorize}}
  <span class="col" style="min-width: 10%;">{{order.fraud_check}}</span>
{{/if}}
<span class="col" style="min-width: 10%;">{{order.order_id}}</span>
<span class="col" style="min-width: 15%;">{{order.customer_name}}</span>
<span class="col" style="min-width: 20%;">{{order.email}}</span>
<span class="col" style="min-width: 10%;">${{order.total}}</span>
