<button class="btn btn-primary" {{ action 'exportCSV' true }}>Export Results</button>
<button style='background-color: #FF8C00;' class="btn primary-btn submit-btn" {{ action 'printResult' true }}>Print Results</button>
<button class="btn" {{ action 'backToOrders' }}>Back To Orders</button>
<!-- {{#link-to 'paymentmanager.ordersfabpro' class="btn primary-btn"}} Back To Orders {{/link-to}} -->


<ul class='pm-product-list table-list products'>
  <li class="row heading">
    <span class="col" style="min-width: 15%;">Status</span>
    <span class="col" style="min-width: 15%;">Message</span>
    {{#if authorize}}
      <span class="col" style="min-width: 10%;">Singifyd Result</span>
    {{/if}}
    <span class="col" style="min-width: 10%;">Order</span>
    <span class="col" style="min-width: 15%;">Customer Name</span>
    <span class="col" style="min-width: 20%;">Customer Email</span>
    <span class="col" style="min-width: 10%;">Amount</span>
  </li>

  {{#each itemsToShow as |order|}}
    {{pm-fp-fullorders-result-list-item order=order method=method}}
  {{/each}}

</ul>

{{pm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage clickAction="changePage"}}
