<span class="col select-item" style="min-width: 5%;">
    {{checkbox-item checked=isSelected checkAction="toggleItem"}}
</span>
<span class="col" style="min-width: 5%;">{{order.order_id}}</span>
<span class="col" style="min-width: 8%;">{{order.date}}</span>
<span class="col" style="min-width: 8%;">{{order.type}}</span>
<span class="col" style="min-width: 10%;">{{order.payment_status}}</span>
<span class="col" style="min-width: 10%;">{{order.fraud_status}}</span>
<span class="col" style="min-width: 10%;">{{order.customer_name}}</span>
<span class="col" style="min-width: 20%;">{{order.email}}</span>
<span class="col" style="min-width: 10%;">${{order.total}}</span>
<span class="col" style="min-width: 10%;">
  {{#if captured}}
    <a href="#" style='text-decoration: line-through; pointer-events: none;'>Void</a>
    {{else}}
    <a href="#">Void</a>
  {{/if}}

</span>
