<button class="btn btn-primary" {{ action 'chargeConfirm' true }}>Confirm & Proceed</button>
<button style='background-color: #FF8C00;' class="btn primary-btn submit-btn" {{ action 'exportCSV' true }}>Export CSV</button>
<button class="btn primary-btn submit-btn" {{ action 'newSearch' true }}>Start New Search</button>


<li class="row heading">
  <span class="col select-item" style="min-width: 5%;">
  	{{checkbox-item checked=selectAll checkAction="toggleAll"}}
	</span>
	<span class="col" style="min-width: 10%;">Order</span>
	<span class="col" style="min-width: 20%;">Status</span>
	<span class="col" style="min-width: 20%;">Customer Name</span>
	<span class="col" style="min-width: 25%;">Customer Email</span>
	<span class="col" style="min-width: 10%;">Card On File</span>
	<span class="clearfix">&nbsp;</span>
</li>

{{#each itemsToShow as |order index|}}
	{{pm-fp-order-list-item
		index=index
    order=order
    selected=selectedItems
    selectAction="selectItem"
    }} 
{{/each}}

{{pm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage clickAction="changePage"}}
