{{#if unprocessedSection}}
<div class="panel">
	<div class="panel-heading">
		<h3> Unprocessed Authorized / Void Orders</h3>
	</div>
	<div class="panel-body">
		<button class="btn btn-primary" {{ action 'captureAllPopup' true }}>Proceed with Captures</button>
		<button class="btn" style='background-color: red; color: black;'{{ action 'cancelAllPopup' true }}>Cancel All Authorizations</button>
		<button style='background-color: #FF8C00;' class="btn" {{ action 'exportAuthCSV' true }}>Export Authorization Results</button>

		<li class="row heading ">
			<span class="col" style="min-width: 10%;">Order Id</span>
			<span class="col" style="min-width: 20%;">Status</span>
			<span class="col" style="min-width: 20%;">Customer Name</span>
			<span class="col" style="min-width: 20%;">Customer Email</span>
			<span class="col" style="min-width: 10%;">Auth Amount</span>
		  <span class="col" style="min-width: 10%;">Actions</span>
			<span class="clearfix">&nbsp;</span>
		</li>

		{{#each itemsToShow as |order index|}}
			{{ pm-fp-saved-authorize-list-edit-item
				index=index
		        order=order
		        adjustPopupFlag='adjustPopup'
		        cancelPopupFlag='cancelPopup'
		    }} 
		{{/each}}
		<div id="unprocessed-pagination">
			{{pm-pagination-list total=maxPages selected=currentPage itemsPerPage1=itemsPerPage name=selectDOMName clickAction1="changePage1" unprocessed=unprocessed}}
		</div>
	</div>
</div>
{{/if}}

{{!-- When the authorize list has been processed, the processed list need to be showed up, either failed capture with message or captured successfully --}}
{{#if processed}}
<div class="panel">
	<div class="panel-heading">
		<h3> Processed Orders</h3>
	</div>
	<div class="panel-body">
		<button style='background-color: #66CD00;' class="btn" {{ action 'emailPopup' true }}>Email Failed Orders</button>
		<button style='background-color: #FF8C00;' class="btn" {{ action 'exportCaptureCSV' true }}>Export Results</button>

		<li class="row heading ">
			<span class="col" style="min-width: 10%;">Status</span>
			<span class="col" style="min-width: 20%;">Transaction ID</span>
			<span class="col" style="min-width: 10%;">Failed Message</span>
			<span class="col" style="min-width: 10%;">Order</span>
	    <span class="col" style="min-width: 10%;">Customer Name</span>
	    <span class="col" style="min-width: 20%;">Customer Email</span>
	    <span class="col" style="min-width: 10%;">Charge Amount</span>
			<span class="clearfix">&nbsp;</span>
		</li>

		{{#each processedItemsToShow as |order index|}}
			{{ pm-captured-item
				index=index
		    order=order
		    }} 
		{{/each}}

		{{pm-pagination-list total=processedMaxPages selected=processedCurrentPage itemsPerPage=processedItemsPerPage clickAction="processedChangePage"}}
	</div>
</div>
{{/if}}

{{#if adjustPopup}}
	<div class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <h2>Save Authorization List</h2>
	    </div>
	    <div class="modal-body">
	    	<span style='display: block;'>
	     		<label>Current Authorization Amount: </label>
          		${{adjustAllowLimit}}
          	</span>
          	<span style='display: block;'>
          		<label>Adjusted Authorization Amount: </label>
              	${{input type="text" name="endID" placeholder="" value=adjustedTotal}}
          	</span>
          	<p style="color: red;">Adjustment value must be less than the original authorization amount</p>
	    </div>
	    <div class="modal-footer">
	      <button class="btn primary-btn submit-btn" {{ action 'closeAdjustPopup' true }}>Cancel</button>
	      <button class="btn btn-primary submit-btn" {{ action 'saveAdjustment' true }}>Save Adjustment</button>
	    </div>
	  </div>
	</div>
{{/if}}

{{#if cancelPopup}}
	<div class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <h2>Void Transactions(s) Confirmation</h2>
	    </div>
	    <div class="modal-body">
	    	<p>Are you sure you want to cancel the selected item(s)?</p>
	    </div>
	    <div class="modal-footer">
	      <button class="btn primary-btn submit-btn" {{ action 'closeCancelPopup' true }}>No, I do not want to cancel</button>
	      <button class="btn btn-primary submit-btn" {{ action 'cancelTransaction' true }}>Cancel Item(s)</button>
	    </div>
	  </div>
	</div>
{{/if}}

{{#if cancelAllPopup}}
	<div class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <h2>Void Transactions(s) Confirmation</h2>
	    </div>
	    <div class="modal-body">
	    	<p>Are you sure you want to cancel the selected item(s)?</p>
	    </div>
	    <div class="modal-footer">
	      <button class="btn submit-btn" {{ action 'closeCancelAllPopup' true }}>No, I do not want to cancel</button>
	      <button class="btn btn-primary submit-btn" {{ action 'cancelAll' true }}>Cancel Item(s)</button>
	    </div>
	  </div>
	</div>
{{/if}}

{{#if captureAllPopup}}
	<div class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <h2>Capture Transactions(s) Confirmation</h2>
	    </div>
	    <div class="modal-body">
	    	<p>Are you sure you want to capture the selected item(s)?</p>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn btn-primary submit-btn" {{ action 'captureAll' true }}>Capture Orders</button>
	      <button class="btn primary-btn submit-btn" {{ action 'closeCaptureAllPopup' true }}>Cancel Capture</button>
	    </div>
	  </div>
	</div>
{{/if}}

{{#if emailFailedPopup}}
	<div class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <h2>Failed Authorization Order Email - Choose Template</h2>
	    </div>
	    <div class="modal-body">
	     {{select-list
          	content=emailTemplates
          	value=selectedTemplate
          	options=selectOptions
          }}
	    </div>
	    <div class="modal-footer">
	      <button class="btn primary-btn submit-btn" {{ action 'closeEmailPopup' true }}>Cancel</button>
	      <button class="btn btn-primary submit-btn" {{ action 'emailFailed' true }}>Send Email</button>
	    </div>
	  </div>
	</div>
{{/if}}
