<li class="row">
    <span class="col" style="min-width: 10%;">
        {{order.name}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.status}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.orders_containing}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.date_created}}
    </span>
    <span class="col" style="min-width: 10%;">
    {{#trigger-dropdown}}
      {{#link-to 'paymentmanager.authlistsfabpro.edit' order.id class="edit-link"}} Edit/View {{/link-to}}
    {{/trigger-dropdown}}
    </span>
</li>
