@import "../../../../../dashboard/2.0/styles/config";
@import "./styles.scss";

.menu-wrapper {
	.addon {
		li:nth-child(3) a,
		li:nth-child(4) a,
		li:nth-child(5) a {
			color: #fc8b31 !important;
		}
	}
}

.pm-customer-list-item {
	.col {
		&.name {
			min-width: 200px;
		}

		&.email {
			min-width: 350px;
		}
	}

	.view-btn {
		border: 1px solid $siteSecondaryColor;
		color: $siteSecondaryColor;

		&:hover {
			background: $siteSecondaryColor;
			color: $siteBgColor;
		}
	}
}

.pm-creditcard-display {
	display: inline-block;

	&.visible {
		opacity: 1;
	}

	.card-type {
		display: block;
		float: left;
		font-size: 2em;
		color: #AAA;
		margin-right: 0.5em;
		text-align: center;
		width: 40px;
	}

	.card-num {
		display: block;
	}

	.card-info {
		font-family: monospace;
		float: left;
		line-height: 1.2em;
		margin-top: 0.15em;
	}
}

.pm-address-display {
	.address-line {
		display: block;
		line-height: 1.5em;
	}
}

.pm-transaction-list {
	.col {
		vertical-align: middle;

		&.date {
			width: 150px;
		}

		&.type {
			width: 100px;
		}

		&.amount {
			width: 100px;
		}

		&.payment {
			margin: 0;
			width: 200px;
		}

		&.transaction_id {
			width: 200px;
		}
	}
}

.pm-order-list {
	.col {
		&.order_num {
			width: 100px;
		}

		&.date {
			width: 100px;
		}

		&.customer {
			width: 200px;
		}

		&.total {
			width: 100px;
		}

		&.payment_status {
			width: 200px;
		}
	}
}

.pm-email-list {
	.tooltip {
		margin-left: 0.5em;

		&:hover {
			.fa {
				color: #4b71fc;
			}
		}

		.fa {
			color: #aeadb3;
		}
	}
}

.pm-shipment-list {
	.col {
		&.payment-date {
			min-width: 150px;
		}

		&.amount {
			min-width: 100px;
		}

		&.status {
			min-width: 100px;
		}
	}

	.row.inactive {
		color: #666;
	}
}

.pm-product-modal {
	min-height: 580px;

	h2 {
		line-height: 1.25em;
		margin: 0 auto;
		max-width: 80%;
	}

	.close-btn {
		background: transparent;
		color: #CCC;
		border: 0 none;
		outline: none;
		position: absolute;
		right: 2.5em;
		top: 2em;
		z-index: 5;
		@include transition(all 0.2s 0s ease-in-out);

		&:hover {
			color: $sitePrimaryColor;
		}
	}

	.prodtype-list {
		list-style: none;
		margin: 2em 0 2.5em 0;
		padding: 0;
	}

	.prodtype {
		border: 1px solid $sitePrimaryColor;
		box-sizing: border-box;
		color: $sitePrimaryColor;
		cursor: pointer;
		margin: 0 5px;
		padding: 3em 0;
		overflow: hidden;
		float: left;
		height: 200px;
		width: 200px;
		@include transition(all 0.2s 0s ease-in-out);

		&:hover {
			background: $sitePrimaryColor;
			color: $siteBgColor;
		}

		&.disabled {
			&, &:hover {
				background: #FFF;
				border: 1px solid #EFEFEF;
				color: #CCC;
				cursor: default;
			}
		}
	}

	.type-desc {
		display: none;
	}

	.type-icon {
		font-size: 4em;
		display: block;
		margin-bottom: 0.25em;
		text-align: center;
	}

	ol.settings {
		list-style: decimal;
		padding-left: 40px;
		text-align: left;
	}

	.settings {
		list-style: none;
		padding-left: 0;
		text-align: center;

		label {
			display: block;
			margin-bottom: 1em;
		}

		li {
			margin-bottom: 2em;
		}

		.switch-checkbox {
			display: inline-block;
		}

		input.price-input[type=text] {
			width: 120px;
		}

		.custom-price-setting {
			label {
				color: #4A4A4A;
				margin-bottom: 0.5em;
			}

			input[type=text] {
				padding: 0;
			}

			.fa {
				display: inline-block;
				margin-right: 0.25em;
				vertical-align: middle;

				&.fa-plus {
					font-size: 1.5em;
					margin-top: 1em;
					height: 80px;
				}
			}

			.custom-price, .custom-shipping {
				box-sizing: border-box;
				display: inline-block;
				width: 200px;
			}
		}
	}

	.inline-value {
		.switch-checkbox, .switch-label {
			display: inline-block;
			float: left;
		}

		.switch-label {
			line-height: 1.5em;
			margin-left: 1em;
		}

		&.cutoff-day {
			input[type=text] {
				margin: 0;
				padding: 0;
				text-align: center;
				max-width: 2em;
			}
		}

		&.payment-count {
			input[type=text] {
				margin: 0;
				padding: 0;
				text-align: center;
				max-width: 3em;
			}
		}

		&.price-setting {
			display: inline-block;

			.switch-label {
				width: 25px;
			}
		}

		&.enabled-product {
			display: inline-block;

			.switch-label {
				text-align: left;
				width: 255px;
			}
		}
	}

	.step {
		box-sizing: border-box;
		padding: 0 35px 2.5em 35px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);

		&.animated {
			z-index: 1;

			&.fadeIn {
				z-index: 2;
			}

			&.fadeOut {
				@include animationDuration(0s);
			}
		}

		&.recurring-step {
			min-height: 380px;
		}

		&.product-step {
			min-height: 505px;
		}

		&.pricing-step {
			min-height: 335px;
		}
	}

	.step-action {
		background:#fff;
		border-top: 1px solid #e4e7ed;
		bottom: 0;
		left: 0;
		padding: .8rem 2.66667rem;
		position: fixed;
		right: 0;
		text-align: right;
		z-index: 20;

		&.save-action {
			margin-top: 2em;
			position: static;

			.btn {
				font-size: 1.5em;
			}
		}
	}
}

.pm-panel-body {

	.field-left{
		float: left;
		width: 40%;
	}

	ul{
		li{
			display: inline;
			list-style: none;
			margin-right: 100px;
			width: 300px;
			float: left;
			input, select{
				float: right;
				width: 40%;
			}
		}
	}
}



/* Popup Window styles */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #FFF;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FFF;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #FFF;
    color: white;
}

.pm-search {
	.field-group{
		margin:  0 0 20px 0;
	}
}

.pm-action-bar{
	display: inline;
}

.select-list {
	display: inline;
}

.top-bar{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	.action-btns{
		display: inline-block;
	}
	.filterBar{
		width: 100%;
    max-width: 760px;
	}
}

.sortable {
	cursor: pointer;
	&:hover {
		color: #4b71fc;
	}
}
