@import "../../../../../dashboard/2.0/styles/config";

.addon-recurring {
	.loading-wrapper .loading {
		width: 100%;
		display: block;
		font-size: 1.5rem;
		line-height: 2rem;
		color: #aeadb3;
		text-align: center;
		margin: 1em 0 1.5em;

		.fa {
			margin-right: 0.5em;
			line-height: 2rem;
		}
	}

	.app-loading-error {
		.message {
			margin-top: 0;
		}
	}

	ul.vertical-form {
		list-style: none;
		margin-bottom: 2em;
		padding-left: 0;
	}

	.vertical-form {
		label {
			display: inline-block;
			margin-bottom: 0.5em;
		}

		input[type=text] {
			display: block;
			max-width: 400px;
			width: 100%;
		}

		.select-list {
			display: block;
			margin-bottom: 1em;
		}
	}

	.product-attribute {
		.attribute-label {
			font-weight: bold;

			&:after {
				content: ':';
			}
		}
	}

	.inline-btn {
		background: transparent;
		border: 1px solid #CCC;

		&.secondary-btn {
			color: $siteSecondaryColor;
			border-color: $siteSecondaryColor;

			&:hover {
				background: $siteSecondaryColor;
				color: $siteBgColor;
			}
		}

		&.primary-btn {
			color: $sitePrimaryColor;
			border-color: $sitePrimaryColor;

			&:hover {
				background: $sitePrimaryColor;
				color: $siteBgColor;
			}
		}
	}

	/** create / edit product */
	.pm-product, .pm-subscription {
		.vertical-form {
			label {
				display: inline-block;
				width: 145px;
			}

			.select-list {
				position: relative;
			}

			.select2-container {
				margin-bottom: 1em;
			}

			.product-select {
				.select-list {
					select {
						width: 400px;
					}
				}
			}

			.attribute-select {
				.select-list {
					display: block;
					margin-left: 174px;
				}
			}

			.product-attribute {
				display: inline-block;
				margin: 0.15em 0;
			}

			input.price-field {
				display: inline-block;
				border-width: 0 0 2px 0;
				margin: 0 0 0.5em 0.5em;
				padding-left: 0.25em;
				max-width: 230px;
			}
		}
	}

	.pm-product {
		.vertical-form {
			label {
				width: 170px;
			}

			input.price-field {
				max-width: 205px;
			}

			.product-select {
				.select-list {
					width: 225px;
				}
			}

			.attribute-wrapper {
				label, .attribute-select {
					float: left;
				}

				label {
					line-height: 2.5em;
				}

				.select-list {
					margin-left: 0;
				}
			}

			.product-shipping {
				margin-top: 0.5em;
			}

			.product-recurrence {
				input[type=text] {
					border-width: 0 0 2px 0;
					display: inline-block;
					max-width: 225px;
				}
			}

			.product-frequency {
				label, .frequency-wrapper {
					float: left;
				}

				label {
					margin-top: 0.5em;
				}

				.frequency-wrapper {
					display: inline-block;

					input[type=text] {
						border-width: 0 0 2px 0;
						display: inline-block;
						float: left;
						max-width: 110px;
					}

					.select-list {
						float: left;
						margin: -2px 0 0 10px;

						select {
							width: 110px;
						}

						.select2-container--default .select2-selection--single {
							border-width: 0 0 2px 0;

							&:focus {
								outline: 0;
							}
						}
					}
				}
			}

			.product-status {
				margin-top: 0.5em;

				label {
					margin-bottom: 0.75em;
					vertical-align: middle;
				}

				.checkbox-container {
					display: inline-block;
				}
			}
		}
	}

	.pm-subscriptions {
		.subscription-section {
			margin-bottom: 4em;

			.table-list.subscriptions {
				margin-bottom: 1em;
				min-height: 405px;
			}
		}
	}

	.pm-subscription {
		.vertical-form {
			.datepicker-wrapper {
				display: inline-block;
				max-width: 250px;
				width: 100%;
			}

			.payment {
				label {
					margin-top: 0.5em;
					vertical-align: top;
				}
			}

			.payment-details {
				display: inline-block;
				width: 100%;
				max-width: 250px;
			}

			.field-value {
				background: $dataOptionBgColor;
				box-sizing: border-box;
				margin: 0 0 1em 0;
				padding: 1em;
				display: block;
				max-width: 400px;
			}
		}

		.section-content {
			width: 100%;

			.product-display, .customer-display {
				min-height: 110px;
			}

			.custom-pricing, .payment-method {
				min-height: 230px;
			}

			.payment-details {
				.payment-type {
					margin-right: 0.5em;
					width: 51px;

					.fa {
						color: #888;
					}
				}

				.payment-info {
					float: left;

					.payment-num, .payment-exp {
						float: left;
						clear: left;
					}
				}

				.payment-edit {
					background: transparent;
					border-radius: 0.15em;
					color: #888;
					float: right;
					font-size: 0.75em;
					line-height: 1.7em;
					margin-left: 0.5em;
					text-decoration: none;
					text-transform: uppercase;

					&, .fa {
						line-height: 1.85em;
						@include transition(all 0.3s 0s ease-in-out);
					}

					&:hover {
						cursor: pointer;

						&, .fa {
							color: $siteTextColor;
						}
					}
				}

				.address-edit {
					background: transparent;
					border-radius: 0.15em;
					color: #888;
					float: right;
					font-size: 0.75em;
					line-height: 1.7em;
					margin-left: 0.5em;
					text-decoration: none;
					text-transform: uppercase;

					&, .fa {
						line-height: 1.85em;
						@include transition(all 0.3s 0s ease-in-out);
					}

					&:hover {
						cursor: pointer;

						&, .fa {
							color: $siteTextColor;
						}
					}
				}
			}

			.shipping-details {


				.address-edit {
					background: transparent;
					border-radius: 0.15em;
					color: #888;
					float: right;
					font-size: 0.75em;
					line-height: 1.7em;
					margin-left: 0.5em;
					text-decoration: none;
					text-transform: uppercase;

					&, .fa {
						line-height: 1.85em;
						@include transition(all 0.3s 0s ease-in-out);
					}

					&:hover {
						cursor: pointer;

						&, .fa {
							color: $siteTextColor;
						}
					}
				}
			}

			.table-list {
				float: left;
				margin-top: 0;
				width: 100%;

				.row {
					float: left;
					width: 100%;

					.col {
						&.date {
							min-width: 150px;
						}

						&.order {
							min-width: 110px;
						}

						&.quantity {
							min-width: 85px;
						}

						&.shipping {
							min-width: 85px;
						}

						&.total {
							min-width: 70px;
						}
					}
				}


			}
		}

		.subscription-header {
			.display-column {
				background: transparent;
				float: left;
				margin-bottom: 0;
				width: 50%;
				min-height: 225px;
				max-width: none;

				h3 {
					margin: 0 0 0.5em 0;
				}

				&.product-display {
					padding: 0;

					.product-details {
						float: left;
						width: auto;

						.product-price {
							font-size: 1em;
						}
					}

					.pricing-details {
						float: left;
						padding-top: 1em;
						width: 100%;

						.field-label {
							box-sizing: border-box;
							display: inline-block;
							margin-right: 1em;
							text-align: center;
							width: 110px;
						}

						.total-cost {
							font-size: 1.5em;
						}
					}
				}

				&.customer-display {
					.name, .email {
						display: block;
						margin-bottom: 0.5em;
					}

					.fa {
						color: #888;
						margin-right: 0.25em;
						text-align: center;
						width: 1em;
					}

					.payment-details {
						display: inline-block;
						margin-top: 1em;
					}
				}
			}
		}

		.display-column {
			box-sizing: border-box;
			float: left;
			padding: 0.75em 1em;
			width: 50%;

			&.right-column {
				border-left: 2px solid $siteBgColor;
			}

			.field-label {
				line-height: 24px;

				background: $siteSecondaryColor;
				color: $siteBgColor;
				cursor: default;
				display: inline-block;
				font-size: 0.75em;
				margin: 0 0 0.5em 0;
				padding: 0 0.4em;
				text-transform: uppercase;
			}

			.vertical-form {
				margin: 0 0 1em 0;
			}

			input[type=text] {
				background: transparent;
				border-width: 0 0 2px 0;
				padding-left: 0;

				&#product-quantity {
					display: inline-block;
					max-width: 250px;
				}
			}
		}

		.message {
			line-height: 1.5em;
			margin-bottom: 1em;
		}
	}

	.pm-page {
		@include animationDuration(0.25s);

		.page-header {
			.col {
				box-sizing: border-box;
				float: left;
				padding: 0.75em 1em;
				width: 50%;

				&.right {
					border-left: 2px solid $siteBgColor;
				}
			}

			.field-label {
				background: $siteSecondaryColor;
				color: $siteBgColor;
				cursor: default;
				display: inline-block;
				font-size: 0.75em;
				line-height: 24px;
				margin: 0 0 0.5em 0;
				padding: 0 0.4em;
				text-transform: uppercase;
			}

			.payment-profiles {
				.profiles {
					.profile {
						clear: left;
						float: left;
					}

					.pm-creditcard-display {
						float: left;
						margin: 2px 1em 0 0;
					}

					.edit-btn {
						float: left;
					}
				}
			}

			.refund-btn {
				margin: 0 0 0 1em;
			}

			dt {
				font-weight: bold;
				margin-bottom: 0.5em;
			}

			dd {
				margin-bottom: 1em;
				margin-left: 0;
			}
		}
	}

	.pm-customer {
		.customer-details, .payment-profiles {
			min-height: 190px;
		}

		.payment-profiles {
			.profiles {
				margin-top: 1em;

				.profile {
					border-top: 1px solid #CCC;
					padding-bottom: 1em;
					padding-top: 1em;

					&:first-child {
						border-top: 0 none;
						padding-top: 0;
					}
				}
			}

			.delete-btn {
				margin-left: 0.5em;
			}
		}
	}

	.pm-order {
		.page-header {
			.customer-info {
				& > span {
					display: block;
					margin-bottom: 0.5em;

					.fa {
						color: #AAA;
						display: inline-block;
						margin-right: 0.5em;
						text-align: center;
						width: 16px;
					}
				}
			}
		}

		.transaction-details {
			width: 100%;
		}

		.pm-transaction-list {
			.col {
				&.date {
					width: 385px !important;
				}

				&.payment {
					width:400px;
				}

				&.transaction_id {
					width: 300px;
				}
			}
		}
	}

	.pm-orders {
		& > .message {
			margin-top: 0;
		}

		.pm-order-list {
			.col {
				&.order_source {
					color: #aeadb3;
					font-size: 24px;
					text-align: center;
					width: 70px;
					min-width: 70px;
				}

				&.order_num {
					min-width: 100px;
				}

				&.date {
					min-width: 150px;
				}

				&.customer {
					min-width: 200px;
				}

				&.total {
					min-width: 150px;
				}

				&.actions {
					min-width: 100px;
					text-align: center;
				}
			}
		}
	}

	.pm-refund {
		.refund-amount {
			margin: 1em 0;

			label {
				display: block;
				font-weight: bold;
			}
		}

		.order-item {
			border-bottom: 1px solid #e4e7ed;
			clear: left;
			float: left;
			padding: 0.5em;

			&.header {
				background: #4b71fc;
				border-bottom: 0 none;
				color: #FFF;
			}
		}

		.col {
			display: inline-block;
			float: left;

			&.qty {
				width: 100px;

				input[type=text] {
					width: 40px;
				}
			}

			&.product {
				width: 300px;
			}
		}
	}

	.pm-settings {
		&.tax-settings {
			input[type=text], input[type=password] {
				min-width: 300px;
			}
		}
	}

	.payment-update {
		.field-label {
			color: #999;
			display: block;
			font-size: 0.85em;
			text-transform: uppercase;
			@include transition(all 0.3s 0s ease-in-out);
		}

		.active > .field-label {
			color: $siteTextColor;
		}

		.cc_num, .cc_cvv {
			input {
				letter-spacing: 0.25em;
			}
		}

		.cc_expiry, .cc_cvv {
			float: left;
		}

		.cc_num input {
			max-width: 273px;
		}

		.cc_cvv input {
			max-width: 80px;
		}

		.cc_expiry {
			margin-right: 2em;

			.select-list, .divider {
				float: left;
			}

			.select-list {
				margin-bottom: 1em;

				.select2-selection {
					border: 2px solid transparent;
					outline: none;
					padding-left: 5px;
				}

				.select2-container .select2-selection--single .select2-selection__rendered {
					padding-left: 5px;
					padding-right: 5px;
				}

				.select2-container--open {
					border: 1px solid #CCC;
					border-bottom-color: transparent;
				}

				.select2-dropdown {
					border-color: #CCC;
				}

				.select2-search--dropdown .select2-search__field:focus {
					outline: 0;
					border-color: $siteSecondaryColor;
				}
			}

			.divider {
				color: #CCC;
				float: left;
				font-size: 1.5em;
				line-height: 1.5em;
				margin-left: 0.5em;
			}
		}
	}

	.payment {
		margin: 0.25em 0 1em 0;

		.payment-type {
			float: left;
			line-height: 1.5em;
			vertical-align: middle;

			.fa {
				color: #4A4A4A;
				font-size: 2.5em;
				margin-right: 0.25em;
			}
		}

		.payment-num, .payment-exp, .bank-name, .bank-num {
			display: block;
			float: left;
			font-size: 0.85em;
			margin-top: 0.25em;
		}

		.bank-name, .bank-num {
			clear: left;
		}

		.payment-exp {
			.expm:after {
				content: '/';
				margin: 0.25em;
			}

			.expy {
				margin-left: -0.25em;
			}
		}
	}

	.product-display {
		background: $siteBgColor;
		box-sizing: border-box;
		margin: 0 0 1em 0;
		padding: 0;
		display: block;

		.product-image {
			background: $siteBgColor;
			margin: 0 1em 0 0;
			float: left;
			text-align: center;
			max-width: 110px;

			img {
				display: block;
				max-width: 100%;
			}
		}

		.product-details {
			margin-top: 0.75em;
			display: block;
			line-height: 1.5em;
			float: right;
			width: 270px;

			.product-attribute {
				font-size: 0.85em;
			}
		}

		.field-label {
			background: $siteSecondaryColor;
			color: $siteBgColor;
			cursor: default;
			display: inline-block;
			font-size: 0.75em;
			margin: 0 0 0.5em 0;
			padding: 0 0.4em;
			text-transform: uppercase;
		}

		.product-name {
			display: block;
		}

		.product-price {
			display: block;
			font-size: 1.25em;
			margin-top: 0.5em;
		}
	}

	/* item list */
	.table-list {
		.row {
			background: #F1F1F1;

			&.loading .col {
				&.enabled .fa, &.edit, &.delete {
					cursor: default;
				}
			}
		}

		.col {
			display: block;
			float: left;

			&.enabled, &.edit, &.delete {
				text-align: center;
				width: 150px;

				a {
					color: $siteTextColor;
					font-weight: bold;
				}
			}

			&.subscription-count {
				text-align: center;
			}

			&.enabled {
				width: 50px;

				& .fa {
					cursor: pointer;
					font-size: 1.25em;
				}
			}

			&.edit, &.delete {
				cursor: pointer;
				font-weight: bold;
				width: 75px;
			}

			.fa-check-circle {
				color: #4b71fc;
			}

			.fa-times-circle {
				color: #aeadb3;
			}
		}

		.product-image {
			display: inline-block;

			img {
				display: block;
				max-width: 100%;
			}
		}

		/* subscription list */
		&.subscriptions {
			margin-bottom: 4em;

			.col {
				box-sizing: border-box;

				&.customer {
					max-width: 200px;
					width: 20%;

					.initial {
						background: #4A4A4A;
						border-radius: 5em;
						color: #FFF;
						cursor: default;
						display: inline-block;
						line-height: 30px;
						margin-right: 0.5em;
						text-align: center;
						height: 30px;
						width: 30px;
					}
				}

				&.product {
					width: 30%;
					max-width: 320px;
					min-width: 300px;

					.product-details {
						float: left;
						width: 75%;

						.product-attribute {
							display: block;
							margin: 0.25em 0;
						}
					}

					.product-image {
						float: left;
						margin-right: 0.5em;
						height: 60px;
						width: 60px;
						overflow: hidden;
					}

					a {
						vertical-align: top;
						float: none;

						&:visited {
							color: inherit;
						}
					}
				}

				&.total {
					max-width: 120px;
					width: 8%;
				}

				&.payment-count {
					text-align: center;
					max-width: 140px;
					width: 12%;
				}

				&.next-payment, &.prev-payment {
					min-width: 180px;
					max-width: 200px;
					width: 12%;

					.fa-warning {
						color: $siteWarningTextColor;
						margin-right: 0.25em;
					}
				}

				&.status {
					float: right;
					text-align: center;
					width: 100px;
				}
			}

			&.inactive {
				.col {
					&.prev-payment {
						max-width: none;
						width: 30%;
					}
				}
			}
		}

		/* product list */
		&.products {
			.col {
				&.product {
					min-width: 450px;
					width: 40%;

					dl {
						margin: 0;
					}

					dt, dd {
						display: inline-block;
						margin: 0.5em 0
					}

					dt {
						font-weight: bold;
					}

					dt:after {
						content:":";
					}

					dd {
						margin-left: 0;
					}
				}

				&.price {
					width: 10%;
				}

				&.frequency {
					width: 10%;
				}

				.product-image {
					margin: 0 1em 0 0;
					width: 60px;
					float: left;
				}
			}
		}

		/** order list */
		&.orders {
			.col {
				&.id {
					width: 100px;
				}

				&.date {
					width: 100px;
				}

				&.total {
					width: 100px;
				}

				&.payment {
					margin: 0;
					min-width: 300px;
				}
			}
		}

		/** email list */
		&.pm-email-list {
			.col {
				&.email {
					min-width: 25%;
				}

				&.subject {
					min-width: 55%;
				}

				&.enable, &.action {
					min-width: 10%;
				}
			}
		}
	}

    /* Settings */
    .settings-index {
		ul {
			width: 100%;
			display: table;
			padding: 0;
			text-align: center;

			li {
				margin: 10px;
				display: table-cell;
				padding: 10px;
				width: 150px;
				height: 75px;
				text-align: center;
				line-height: 75px;
				font-size: 1.25em;
				vertical-align: middle;

				a {
					width: 100%;
					color: #FFFFFF;
					text-decoration: none;
					display: inline-block;
					background: #ff4300;
				}

				a:hover {
					background: #DDDDDD;
					color: #000000;
				}
			}
		}
    }

	/**
	 * Email Settings Page
	 */
	.email-settings {
		input[type=text] {
			box-sizing: border-box;
			width: 400px;
		}

		.form-horizontal {
			&.general-settings {
				.btn {
					border: 0 none;
				}
			}
		}

		.wysiwyg-editor {
			margin-bottom: 1em;
		}

		ul.section-list {
			border-bottom: 1px solid #e4e7ed;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-bottom: 3px solid transparent;
				cursor: pointer;
				display: inline-block;
				padding: 0.5em 1em;

				&.active {
					border-bottom-color: $sitePrimaryColor;
				}
			}
		}

		.section {
			&.tab-content {
				display: none;
				padding: 0 0 1em 1em;

				&.active {
					display: block;
				}

				input[type=text] {
					width: 100%;
				}
			}
		}

		.column-layout {
			align-content: space-around;
			align-items: stretch;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			.column {
				float: none;
			}

			.main-content {
				padding-top: 1em;
			}

			.side-content {
				border-left: 1px solid #e4e7ed;
				padding: 0;
				width: 28%;
			}
		}
	}

	.gateway-settings {
		.panel-body {
			border: 0 none;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.14);
		}

		.section {
			header {
				padding: 0.5em 1em;

				h3 {
					float: left;
					margin: 0;
				}

				.switch-checkbox {
					float: right;
				}
			}

			.section-content {
				border-top: 1px solid #e4e7ed;
				box-sizing: border-box;
				float: left;
				margin: 1em 0;
				padding: 1.5em 1em 0.5em 1em;
				width: 100%;

				& > p {
					margin-top: 0;

					code {
						display: inline-block;
						margin: 0.5em 0;
					}
				}

				input[type=text] {
					width: 400px;
				}
			}
		}

		.page-action {
			margin-top: 2em;
		}
	}

	.pm-faq {
		dl {
			margin: 1em 0;

			dt {
				font-weight: bold;
				margin-bottom: 1em;
			}

			dd {
				margin-bottom: 2em;
				margin-left: 0;
			}
		}
	}

	.pm-charts {
		.date-selector {
			float:right;
			#startDate, #endDate {
				float:right;

				input[type=text] {
					width:100px;
					border:1px solid #d7d6d9;
					margin:5px;
					background-color:#fbfbfc;
				}
			}
		}

		#pretty-lines {
			//width:100%;
			//max-height:400px;
			//max-width:400px;

			//	height:600px;
			#myChart{
				max-width: 1200px !important;
    			max-height: 600px !important
			}
			//border:1px solid black;
		}
		.pm-chart-box {
			float:left;
			width:185px;
			height:150px;
			border:2px solid #6a9ef2;
			padding:10px;
			margin:15px;
			text-align:center;

			h2 {
				margin-bottom:0;
			}

			h1, p {
				margin:0;
			}

			.positive-box {
				color:#51c551;
			}

			.negative-box {
				color:#bd3d3d;
			}
		}
		#projection-table{
			width:100%;
			text-align:center;
			table{
				border:1px solid black;
				width:100%;
			}
			th, td{
	//			width:15%;
				border-right:1px solid black;
			}
			th{
				background-color:rgba(0,0,0,.05)
			}
			td{
				background-color:rgba(0,0,0,.01)
			}
		}
	}

	.pm-emails {
		& > .message {
			margin-top: 0;
		}

		.main-content {
			padding-right: 1.5em;

			.field-group {
				.switch-checkbox {
					display: inline-block;
					margin-right: 1em;
				}
			}

			input[type=text] {
				box-sizing: border-box;
				width: 100%;
			}
		}

		.side-content {
			border-left: 1px solid #e4e7ed;
			padding: 0;
			width: 28%;
		}

		.tpl-vars-wrapper {
			line-height: 1.5em;
			padding: 1em 1.5em;

			.tpl-section {
				border-bottom: 1px solid #e4e7ed;
				display: block;
				font-size: 0.85em;
				margin-bottom: 0.5em;
				text-transform: uppercase;
			}

			h4 {
				margin: 0 0 1em 0;
			}

			dl {
				margin: 0 0 0.5em 0;
			}

			dt {
				font-weight: bold;
			}

			dd {
				font-style: italic;
				margin: 0 0 0.5em 0;
			}
		}
	}
}

/**
 * align menu items to the right
 */
.menu-wrapper .addon li:nth-child(6) {
	float: right;
}

@media screen and (max-width: 1875px) {
	.addon-recurring {
		.table-list {
			&.subscriptions {
				.prev-payment {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 1590px) {
	.addon-recurring {
		.table-list {
			.heading {
				.col {
					&.delete, &.edit, &.enabled {
						display: none;
					}
				}
			}

			.col {
				&.delete, &.edit, &.enabled {
					width: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 1120px) {
	.addon-recurring {
		.table-list.subscriptions {
			.col.payment-count {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 990px) {
	.addon-recurring {
		.table-list.subscription {
			.col.product {
				.product-image {
					display: none;
				}
			}
		}
	}
}

@media print {
	header,
	.menu-wrapper {
		display: none;
	}
}
